<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
      a(href='/') back to homepage
      br
      a(href= status + "/add") add new Data
      each i in inputData
        p= 'id: ' + i.id
        p= 'subject: ' + i.subject_name
        button(onclick = `window.location.href="http://localhost:3000/${status}/edit/${i.id}"`) edit
        button(onclick = `window.location.href="http://localhost:3000/${status}/delete/${i.id}"`) delete
