extends ./layout.pug

block content
  h1.title Students Data
  a(href='/students/add' class="main-link") Add student
  if students.length > 0
    table.table
      tr  
        th ID
        th First Name
        th Last Name
        th Email
        th Options
      each student in students
        tr
          td= student.id
          td= student.first_name
          td= student.last_name
          td= student.email
          td
            a(class="edit-button" href=`/students/edit/${student.id}`) Edit
            form(class="delete-form" action=`/students/delete/${student.id}?_method=DELETE` method="POST")
              input(class="delete-button" type="submit", value="Delete")
  else
    p.message No students, please add a new one