extends ./layout.pug


block content
  - const action = mode === 'Add' ? '/students/add' : `/students/edit/${student.id}?_method=PUT`
  h1.title #{mode} Student Data
  a(href='/students' class="main-link") Show all data
  form(class="form" action=action, method="POST")

    label(class="form-label" for="first_name") First Name
    input(class="form-input" type="text", name="first_name" value=`${student ? student.first_name : ''}` required)

    label(class="form-label" for="last_name") Last Name
    input(class="form-input" type="text", name="last_name" value=`${student ? student.last_name : ''}` required)

    label(class="form-label" for="email") Email
    input(class="form-input" type="email", name="email" value=`${student ? student.email : ''}` required)

    button(class="form-submit")=`${mode} Student`