<DOCTYPE html>
<html>
  <head>
    <title>
      Student
    </title>
  </head>
    <body>
      <h1 style="text-align:center"><%= titleStudent %></h1>
      <div id= "container">
        <table style="border-collapse: separate; style=text-align:center; width: 100%" border = 1>
          <tr>
            <th style="border-top: 0"> First Name </th>
            <th style="border-top: 0"> Last Name </th>
            <th style="border-top: 0"> Email </th>
            <th style="border-top: 0"> Options </th>
          </tr>
          <% get_student = function(student){
            if(student.length !== 0){
              for(var i in student){%>
          <tr style="text-align:center">
            <td style="border-top: 0"><%= student[i].firstName %></td>
            <td style="border-top: 0"><%= student[i].lastName %></td>
            <td style="border-top: 0"><%= student[i].email %></td>
            <td style="border-top: 0"><a href="/student-edit/<%= student[i].id %>">Edit</a> /<a href="/student-delete/<%= student[i].id %>" onclick="if (confirm('Do you want to delete this item?')){return true;}else{event.stopPropagation(); event.preventDefault();};"> Delete</a></td>
            <%  }
              }
              else{ %>
                <tr style="text-align:center">
                  <td>  <%= "No records found!"%></td>
                  <td>  <%= "No records found!"%></td>
                  <td>  <%= "No records found!"%></td>
                </tr>
            <%  }
            }
            get_student(Data);%>
          </tr>
        </table>
      </div>
      <br>
      <button><a href="/student-add" style="text-decoration:none;font-size:12px;font-weight:bold">Add</a></button>
      <button style="float:right;"><a href="/" style="text-decoration:none;font-size:12px;font-weight:bold">Back</a></button>
    </body>
</html>
