<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Students Data</title>
  </head>
  <body>
    <h1 align="center">Students Data</h1>
    <div style="text-align:center">
      <a href="/students/add">add student</a> || <a href="/">home</a>
    </div>
    <table border="1" class="table">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Options</th>
      </tr>
      <% student.forEach(student => { %>
        <tr>
          <th> <%= student.id %> </th>
          <th> <%= student.first_name %> </th>
          <th> <%= student.last_name %> </th>
          <th> <%= student.email %> </th>
          <th> <a href="/students/edit/<%=student.id%>">Edit</a> | <a href="/students/delete/<%=student.id%>" onclick="return confirm('Delete this student?')">Delete</a></th>
        </tr>
      <% }) %>
    </table>
  </body>
</html>